// Mixins starts here

@mixin headerFontSize($headerSizeValue) {
    font-size: $headerSizeValue;
    font-family: 'Press Start 2P', cursive;
    text-transform: capitalize;
}
@mixin baseFontSize($baseSizeValue) {
    font-size: $baseSizeValue;
    font-family: 'Merriweather Sans', sans-serif;
}
@mixin resGeneral {
    @media (max-width: 1080px) { @content; }
}
@mixin resColonel {
    @media (max-width: 840px) { @content; }
}
@mixin resCaptain {
    @media (max-width: 570px) { @content; }
}

// Mixins ends here