// Variables created starts here

// Descriptive color variables
$metallicMint: #37FDFC;
$white: #FFF;
$black: #000;


// Functional color variables
$gridColorButtonHover: rgba($white, 0.1); 
$modalBackgroundColor: rgba($black, 0.6);
// Variables created ends here