// Variables created starts here

// Descriptive color variables
$metallicMint: #37FDFC;
$white: #FFF;
$black: #000;


// Functional color variables
$gridColorButtonHover: rgba($white, 0.1); 

// Variables created ends here